HOST=smtp.gmail.com
USER=your@mail.com
PASSWORD=*******
CLIENT_ID=gmail api client id
CLIENT_SECRET=gmail api client secret
REFRESH_TOKEN=gmail api refresh token
ACCESS_TOKEN=gmail api access token
TO=receiver email address
IP=server.js host ip

Use the same variable for .prod.env
