*
  -webkit-box-sizing: inherit
  box-sizing: inherit

html
  background-color: #fff
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  min-width: 300px
  overflow-x: hidden
  overflow-y: scroll
  text-rendering: optimizeLegibility
  -webkit-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-size-adjust: 100%
  box-sizing: border-box
  margin: 0
  padding: 0

p
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  color: #4a4a4a
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  box-sizing: inherit

.app
  box-sizing: inherit

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 4rem

.CircularProgressbar .CircularProgressbar-path
  stroke: #3e98c7
  stroke-linecap: round
  transition: stroke-dashoffset 0.5s ease 0s

.CircularProgressbar .CircularProgressbar-trail
  stroke: #d6d6d6

.CircularProgressbar .CircularProgressbar-text
  fill: #3e98c7
  font-size: 25px
  dominant-baseline: middle
  text-anchor: middle
